.App {
  text-align: center;
}

.developer {
  text-align: left;
}

div#results {
    min-height: 16em;
    min-width: 100px;
    background-color: #EEE;
    padding: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
    background: url('../../assets/signals.png') no-repeat;
    background-color: #00b176;
    background-size: cover;
    background-position: top center;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 15px solid black;

}
.logo {
    background: url('../../assets/eHealth-logo.png') no-repeat;
    width: 300px;
    height: 100px;
    margin: 15px auto 0;
}
.app-container {
    width: 100%;
}