@import '../../../node_modules/npm-font-open-sans/open-sans.css';

.App {
  text-align: center;
}

.developer {
  text-align: left;
}

div#results {
    min-height: 16em;
    min-width: 100px;
    background-color: #EEE;
    padding: 5px;
}

body {
    background: url('../../assets/signals.png') no-repeat;
    background-color: #00b176;
    background-size: cover;
    background-position: top center;
    height: 100%;
    min-height: 100vh;
    padding: 0 20px 20px;
    border: 15px solid black;
    font-family: "Open Sans", Arial, sans-serif;

}
.logo {
    background: url('../../assets/eHealth-logo.png') no-repeat;
    width: 300px;
    height: 100px;
    margin: 15px auto 0;
    display: inline-block;
}
.app-container {
    margin: 0 auto;
}
.text-white {
    color: white;
    letter-spacing: 1px;
}
.intro {
    margin: 60px 0px;
}
.center-block {
    width: 500px;
    float: none;
    margin: 0 auto;
}
.btn-round {
    background: transparent;
    border: 3px solid white;
    border-radius: 50px;
    color: white;
    padding: 5px 20px;
    font-weight: bold;
    margin: 10px 5px 0;
    font-size: 16px;
}
.btn-round:hover, .btn-round:focus, .btn-round:active {
    background: white;
    color: black;
    border-color: white;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2) {
    body {
        border: none;
    }
    .center-block {
        width: 300px;
    }
    .intro {
        font-size: 16px;
    }
    .btn-round {
        font-size: 12px;
    }
    h4 {
        font-size: 16px;
    }
}